body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(200, 141, 208);
    padding: 0 1.5rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    color: aliceblue;
    text-decoration: none;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: rgb(0, 0, 0);
}

.main-content {
    letter-spacing: .5rem;
}

.main-content h2 {
    margin: 0;
}